
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100..1000&family=Poppins:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    width: 100dvw;
    overflow: hidden;
    background-color: #0D0E10;
}

@layer base {
    body {
        font-family: "DM Sans", sans-serif;
    }

    h1, h2, h3 {
        font-family: "Poppins", sans-serif;
    }
}